.header__lang-link {
  width: 100%;
  bottom: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: right;
}
.header__lang-link:nth-last-child(1) {
  left: 18px;
  text-decoration: none;
  bottom: 0;
  right: 0;
  width: 100%;
}
@media screen (min-width: 767px) {
.header__lang-link {
  max-width: 30px;
  max-height: 28px;
  margin: 0 auto;
}
  .header__lang-link:nth-child {
  left: 18px;
  bottom: 0;
  right: 0;
  max-width: 29px;
  max-height: 28px;
  margin: 0 auto;
}
}
@media screen (min-width: 1023px) {
  .header__lang-link {
  margin: 0 auto;
  width: 100%;
  left: 675px;
  bottom: 0;
}
  .header__lang-link:nth-child {
  width: 100%;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
}
@media screen (min-width: 1279px) {
  .header__lang-link {
  left: 931px;
  width: 100%;
  bottom: 0;
  margin: 0 auto;
  }
}
  .header__lang-link:nth-child {
  width: 100%;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  }

