.header__lang-link {
  width: 22px;
  height: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: right;
  margin-left: 18px;
  margin-right: 16px;
  text-decoration: none;
  bottom: 0;
  position: relative;
}
.header__lang-link:hover {
  background: #AAAAAA;
  opacity: 0.8;
}
.header__lang-link::before{
  content: "";
  width: 100%;
  background-color: #AAAAAA;
  position: absolute;
}
@media screen and (min-width: 767px) {
.header__lang-link {
  width: 29px;
  height: 28px;
  margin-right: 24px;
}
}

