.place__link {
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  text-align: start;
  outline: solid 1px red;
}
@media screen and (min-width: 767px) {
  .place__link {
  width: 100%;
  }
}
@media screen and (min-width: 1023px) {
  .place__link {
  width: 100%;
}
@media screen and (min-width: 1279px) {
  .place__link {
  max-width: 456px;
  }
  }
