.footer__linklist {
  display: grid;
  grid-template-columns: (auto-fill minmax(70px 1fr));
  row-gap: 32px;
}
@media screen and (min-width: 767px) {
  .footer__linklist {
  padding: 88px auto 24px auto;
  row-gap: 18px;

  grid-template-columns: repeat(5, auto);
  }
  }
  @media screen and (min-width: 1023px) {
  .footer__linklist {

  }
}
@media screen and (min-width: 1279px) {
  .footer__linklist {

  }
  }
