.header__logo.css {
  min-width: 142px;
  margin: 0;
  padding: 0;
  object-fit: scale-down;
  background: #FFFFFF;
}
@media screen (min-width: 768px) {
  .header__logo {
  width: 100%;
  margin: 0;
  padding: 0;
  }
  @media screen (min-width: 1024px) {
  .header__logo {
  width: 100%;
  margin: 0;
  padding: 0;
  }
  }
  @media screen (min-width: 1280px) {
  .header__logo {
  margin: 0;
  width: 100%;
  padding: 0;
    }
  }
