.content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 64px;
  margin: 0;
}
@media screen and (min-width: 767px) {
  .content {
    row-gap: 88px;
    margin: 0;
  }
  }
  @media screen and (min-width: 1023px) {
  .content {
    row-gap: 92px;
    margin: 0;
  }
  @media screen and (min-width: 1279px) {
  .content {
    row-gap: 92px;
    margin: 0;
  }
  }
