.content {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 64px;
  margin: 0;
  padding: 0;
  column-gap: 16px;
  justify-content: space-between;
  align-content: space-between;
  align-items: stretch;
  justify-items: stretch;
  box-sizing: border-box;
  min-width: 200px;
}
@media screen and (min-width: 767px) {
  .content {
  row-gap: 88px;
  column-gap: 24px;
  }
  }
@media screen and (min-width: 1023px) {
  .content {
  row-gap: 92px;
  column-gap: 48px;
}
}
@media screen and (min-width: 1279px) {
  .content {
  }
}
