.place__text {
  min-width: 288px;
  margin: 0;
  padding: 0;
  grid-area: text;

}
@media screen and (min-width: 767px) {
  .place__text {

}
}
@media screen and (min-width: 1023px) {
  .place__text {
  max-width: 352px;


}
}
@media screen and (min-width: 1279px) {
  .place__text {
    max-width: 484px;
    max-width: 484px;
  }
  }
