.footer__link {
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 auto 32px 0;
}
.footer__link:nth-last-child(1) {
  text-decoration: none;
  margin: 0 auto 0 0;
  width: 100%;
}
@media screen and (min-width: 767px) {
  .footer__link {
  margin: 0 18px 0 0;
  }
  .footer__link:nth-last-child(1)
  margin: 0;
  }
  @media screen and (min-width: 1023px) {
  .footer__link {

  }
  @media screen and (min-width: 1279px) {
  .footer__link {


  }
  }
