.header__lang-link_active{
  width: 22px;
  height: 20px;
  bottom: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: right;
  position: relative;
  text-decoration: none;
}
.header__lang-link_active:hover {
  background: #AAAAAA;
  opacity: 0.8;
}
.header__lang-link_active:hover::before {
  transform: scaleX(1);
  transition: transform 0.25s;
  transform-origin: right;
}
.header__lang-link_active::before{
  content: "";
  width: 100%;
  background-color: #AAAAAA;
  position: absolute;
  height: 1px;
  left: 0;
  bottom: -5px;
  transform: scaleX(0);
  transform-origin: left;
}
@media screen and (min-width: 767px) {
  .header__lang-link_active {
    max-width: 30px;
    max-height: 28px;
  }
  }
