.lead__title {
  min-width: 288px;
  margin: 0 auto;
  top: 0;
  bottom: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  color: #FFFFFF;
  text-align: center;
}
@media screen and (min-width: 767px) {
.lead__title {
  max-width: 720px;
  bottom: 32px;
  font-size: 96px;
  line-height: 100px;
}
}
@media screen and (min-width: 1023px) {
.lead__title {
  width: 100%;
}
}
@media screen and (min-width: 1279px) {
.lead__title {
}
}
