.photo-grid__photo {
  list-style-type: none;
  width: 100%;
}
@media screen and (min-width: 767px) {
  .photo-grid__photo {
    width: 100%;
  }
}
@media screen and (min-width: 1023px) {
  .photo-grid__photo {
  width: 100%;
}
@media screen and (min-width: 1279px) {
  .photo-grid__photo {
  width: 100%;
  }
  }
