.cover {
  margin: 0;
  min-height: 200px;
}
@media screen and (min-height: 480px) {
  .cover {
  height: 100%;
  }
}
@media screen and (min-height: 640px) {
  .cover {
  }
  }
  @media screen and (min-height: 740px) {
    .cover {
    }
  }
