.wrapeer {
  min-width: 200px;
  margin: 0 auto;
  padding: 0 16px;
  display: grid;
}
@media screen and (min-width: 767px) {
  .wrapeer {
  row-gap: 88px;
  }
  }
  @media screen and (min-width: 1023px) {
  .wrapeer {
  row-gap: 92px;
  }
}
  @media screen and (min-width: 1279px) {
  .wrapeer {
  }
  }
