.wrapeer {
  display: grid;
  row-gap: 64px;
}
@media screen and (min-width: 767px) {
  .wrapeer {
  row-gap: 88px;
  }
  }
  @media screen and (min-width: 1023px) {
  .wrapeer {
  row-gap: 92px;
  }
  @media screen and (min-width: 1279px) {
  .wrapeer {
  row-gap: 92px;
  }
  }
