.wrapeer {
  min-width: 200px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
}
@media screen and (min-width: 767px) {
  .wrapeer {
  row-gap: 88px;
  }
  }
  @media screen and (min-width: 1023px) {
  .wrapeer {
  row-gap: 92px;
  }
}
@media screen and (min-width: 319px) and (max-width: 1280px) {
  .wrapeer {
  }
 }
