.place__website {
  grid-area: website;
  margin: 32px 16px 0 16px;

}
@media screen and (min-width: 767px) {
.place__website {
  padding-right: 0;
  top: 46px;
  }
}
@media screen and (min-width: 1023px) {
.place__website {
  padding: 0;
  margin: 106px 0 0 0;
}
}
@media screen and (min-width: 1279px) {
.place__website {
  max-width: 456px;
  margin: 106px auto 0 40px;
  }
  }
